@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Mansalva');

.Header {

    background: url('../Images/cocktails.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #E9BEB5;
    font-size: 24px;
    font-family:'Mansalva', cursive;
    height: 9rem;
    border-bottom: 3px solid darkblue;
}

h1 {
    margin-bottom: 0;
    margin-top: 10px;
    color: #db978a;
}

a {
    text-decoration: none;
}

a:hover {
    color: hotpink;
  }

a:visited {
    color: darkblue;
}

@media all and (min-width: 500px) {
    .Header {
        height: 15rem;
    }
    .Header h1 {
        font-size: 5rem;
    }
}

@media all and (min-width: 900px) {
    .Header {
        height: 17rem;
    }
}

    
@media all and (min-width: 1100px) {
    .Header {
        height: 22rem;
    }
}
    


