@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Mansalva');

.Header {

    background-image: url("../Images/cocktails.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #E9BEB5;
    font-size: 24px;
    font-family:'Mansalva', cursive;
    height: 9rem;
}

h1 {
    margin-bottom: 0;
    margin-top: 10px;
    color: #E9BEB5;
}

a {
    text-decoration: none;
}

a:hover {
    color: hotpink;
  }

a:visited {
    color: darkblue;
}

