@import url('https://fonts.googleapis.com/css?family=family=Dancing+Script|Oswald|Raleway');

.HomePage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: bold;
}

.Description {
    margin: 0;
}

.Description p {
    text-align: center;
    padding: 2%;
} 

.ViewCocktails {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ViewCocktails p, .AddRecipeParagraph {
    margin: 2% 5%;
    padding: 0 2px;
    font-style: italic;
}

.AddRecipeHome {
    margin: 10px auto;;
}

.ViewCocktails ul {
    margin: 25px auto 0 auto;
}

.ViewCocktails li {
    border-radius: 4px;
    border: 2px solid darkblue;
    background-color: rgb(255,255,153, .4);
    box-shadow: 2px 2px 3px darkblue;  
    padding: 20px;
    width: 75%;
    transition: all 0.5s;
    margin: 5px auto;
}
  
  
.ViewCocktails li span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.ViewCocktails li span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.ViewCocktails li:hover span {
    padding-right: 25px;
}

.ViewCocktails li:hover span:after {
    opacity: 1;
    right: 0;
}

.Cookbook {
    width: 90px;
    height: 90px;
    padding-bottom: 10px;
}

.AddRecipe {
    padding-top: 10%;
    padding-bottom: 10%;
}

.AddRecipeLink {
    color: #FFFF99;
    text-decoration: underline;
}

.AddRecipeLink:hover {
    color: lightskyblue;
}

.CatTitle {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 3px #FFFF99;
}

.TitleText {
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px 3px #FFFF99;
    font-size: 22px;
}

.ViewRecipesText {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
}

hr {
    width: 90%;
    background-color: darkblue;
    box-shadow: 2px 2px 3px #FFFF99;
    margin: 3% auto;
    border-top: 2px solid darkblue; 
    border-radius: 5px
}


@media all and (min-width: 500px) {
    .Description p {
        margin-left: auto;
        margin-right: auto;
    }

    .ViewCocktails {
        margin-left: auto;
        margin-right: auto;
    }
    .AddRecipeParagraph{
        margin: 20px auto;
    }
    
}

@media all and (min-width: 900px) {
    hr {
        width: 70%;
    }
    .outerWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;    
    }

    .ViewCocktails {
        width: 50%;
        margin: 0, auto;
    }
    .Description {
        width: 80%;
        margin: auto;
    }
}


@media all and (min-width: 1100px) {
    .ViewCocktails {
        width: 70%;
        margin: 0;
        margin: auto;
    }
    .ViewCocktails li {
        width: 90%;
    }
}
