@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Mansalva');

.HomePage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 18px;
}

.Description p {
    text-align: center;
    padding: 2% 5%;
    margin: 5% 0;
}

.ViewCocktails h2 {
    padding: 0;
}

.ViewCocktails {
    border: 3px groove darkblue;
    border-radius: 5px;
    text-align: center;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(219, 151, 138, .4);
    min-height: 35%;
}

.ViewCocktails p {
    margin: 2% 0;
    padding: 0 2px;
}

.ViewCocktails li {
    margin: 2% 0;
}

.AddRecipe {
    padding-top: 10%;
    padding-bottom: 10%;
}

.AddRecipeLink
{
    color: #db978a;
    text-decoration: underline;
}

.logosWrapper{
    display: none;
}

.AddRecipeParagraph {
    margin-top: -20%;
}


@media all and (min-width: 500px) {
    .Description p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .ViewCocktails {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .logosWrapper {
        display: block;
    }
    .logosWrapper p {
        width: 1px;
        margin: 0;
        padding: 0;
    }
    .logosWrapper img p {
        display: inline-block;
    }
    .AddRecipeParagraph{
        margin: 5% 2%;
    }
    
}

@media all and (min-width: 900px) {
    .outerWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 5% 0 1%;
        margin-top: -5%;
    }
    .ViewCocktails {
        height: 25rem;
        width: 50%;
        margin: 0;
        margin: auto;
    }
    .Description {
        width: 50%;
        margin: auto;
    }
}


@media all and (min-width: 1100px) {
    .ViewCocktails {
        height: 25rem;
        width: 40%;
        margin: 0;
        margin: auto;
    }
    .AddRecipeParagraph {
        margin-top: -5%;
    }
}
