.RecipeDetail {
    font-size: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ActualRecipe, .CurrentReviews, .ReviewForm {
    border: 3px groove darkblue;
    border-radius: 5px;
    text-align: center;
    margin: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #f3ded8;
}

.IngredientList li {
    margin: 2% 0;
    padding: 0 2%;
}

.CurrentReviews li {
    width: 90%;
    text-align: left;
    padding: 5% 2%;
    border: 1px solid darkblue;
    margin: 7px auto;
    
}

.RecipeDetail input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    height: 60px;
}

.RecipeDetail button {
    background-color: #f3ded8;
    color: darkblue;
    width: 20%;
    height: 35px;
    font-weight: bold; 
    box-shadow: 1px 1px 1px 1px darkblue;
    margin-bottom: 2%;

}

.RecipeDetail h2 {
    margin-bottom: 3%;
}

@media all and (min-width: 700px) {
    .ActualRecipe, .CurrentReviews, .ReviewForm {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

    
@media all and (min-width: 900px) {
    .ActualRecipe, .CurrentReviews, .ReviewForm {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
    }
}

@media all and (min-width: 1100px) {
    .ActualRecipe, .CurrentReviews, .ReviewForm {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
}