* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.App {
    background-color: #E9BEB5;
    color: darkblue;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}

main {
    background-image: url("./Images/ice.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;
}

li {
    border: none;
}