* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.App {
    color: darkblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Bree Serif', serif;
    font-size: 18px;
}

main {
    background-image: url("./Images/ice.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;
    min-height: 100vh
}

ul {
    list-style: none;
    padding: 0;
}

li {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: hotpink;
  }

a:visited {
    color: darkblue;
}

select {
    margin-bottom: 5%;
}

h4 {
    font-weight: normal;
    padding-bottom: 2%;
    padding-left: 1%;
    text-align: left;
}

ol {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


li p {
    color: red;
}

.CategoryList li {
    border: none;
}

.AddEditRecipeForm {
    border: 3px groove darkblue;
    border-radius: 5px;
    text-align: center;
    margin: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(219, 151, 138, .4);
    margin-top: 12%;
}

.AddEditRecipeForm li {
    margin: 3% auto;
}

.AddEditRecipeForm input {
    width: 75%;
    height: 30px;
    margin: 5% auto
}

.AddEditRecipeForm h2 {
    margin-bottom: 5%;
}

.StepButton {
    background-color: #f3ded8;
    color: darkblue;
    width: 20%;
    height: 30px;
    font-weight: bold; 
    box-shadow: 1px 1px 1px 1px darkblue;
    margin-bottom: 2%;
}

.StepIngList {
    width: 75%;
    padding-bottom: 2%;
}

.AddEditSubmitButton {
    background-color: #f3ded8;
    color: darkblue;
    width: 20%;
    height: 40px;
    font-weight: bold; 
    box-shadow: 1px 1px 1px 1px darkblue;
    margin-bottom: 5%;
}

ol li p:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}


@media all and (min-width: 700px) {
    .AddEditRecipeForm {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .NameInput {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

    
@media all and (min-width: 900px) {
    .AddEditRecipeForm {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
}

@media all and (min-width: 1100px) {
    .AddEditRecipeForm {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
}