@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Mansalva');

.RecipeList {
    font-size: 18px;
}

.RecipeDesc {
    font-style: italic;
    margin: 5% 2%;
}

.RecipeListMain {
    border: 3px groove darkblue;
    border-radius: 5px;
    text-align: center;
    margin: 15% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(219, 151, 138, .4);
    width: 70%;
}


.RecipeListMain li {
    margin: 2% auto;
}

.RecipeName {
    margin-top: 10%;
    margin-bottom: 10%;
}

.AddCatRecipe {
    margin-bottom: 5%;
    padding: 0 2%;
}

@media all and (min-width: 900px) {
    .RecipeDesc {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .RecipeName {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .RecipeListMain {
        width: 55%;
        margin: 5% auto;
    }
}
@media all and (min-width: 1100px) {
    .RecipeListMain {
        width: 38%;
    }
    .RecipeName {
        font-size: 2.5rem;
    }
    .RecipeDesc {
        font-size: 1.3rem;
    }
    .AddCatRecipe {
        font-size: 1.3rem;
    }
}
