@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Mansalva');

.RecipeList {
    font-size: 18px;
}

.RecipeDesc {
    font-style: italic;
    margin: 5% 2%;
}

.RecipeListMain {
    border: 3px groove darkblue;
    border-radius: 5px;
    text-align: center;
    margin: 15% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #f3ded8;
    width: 70%;
}

.RecipeListMain {
    padding: 10px 0;
}

.RecipeListMain li {
    margin: 2% auto;
}

.RecipeName {
    margin-top: 10%;
    margin-bottom: 10%;
}

.AddCatRecipe {
    margin-bottom: 5%;
    padding: 0 2%;
}