@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Mansalva');

main {
    font-size: 16px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.RecipeDesc {
    font-style: italic;
    margin: 5% 2%;
}

.RecipeListMain {
    border: 3px groove darkblue;
    border-radius: 5px;
    text-align: center;
    margin: 15% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #f3ded8;
    min-height: 50%;
}

ul {
    padding: 10px 0;
}

.RecipeName {
    margin-top: 10%;
}